.DraftEditor-root {
    margin: auto;
    max-width: 600px;
    overflow: scroll;
}

.public-DraftEditor-content {
    min-height: 80vh;
}

.autocomplete-entry {
    color: darkcyan;
    font-weight: bold;
    font-style: italic;
}

.suggestion-item {
    border: 0.5px solid grey;
    padding: 10;
    position: relative;
    z-index: 3;
    border: 0.25px solid grey;
}

.suggestion-item:hover {
    z-index: 4;
    background-color: lightblue;
    cursor: pointer;
}
